body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    text-decoration: none;
    user-select: none;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

#cursor{
    cursor: pointer;
}

.header {
    position: absolute;
    height: 118px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.88);
    user-select: none;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    height: 118px;
    width: 239px;
    display: flex;
    align-items: center;
}

.logoImg {
    width: 58px;
    height: 58px;
    margin: auto;
    margin-right: 30px;
}

.logoText {
    float: right;
    text-align: left;
    font-weight: 700;
    font-size: 35px;
    width: 154px;
    color: #00A3FF;
}

/* navigation */

.nav {
    font-size: 0px;
    font-weight: 300;
    height: 70px;
}

.nav_block {
    display: inline-block;
    white-space: nowrap;
    width: 220px;
    height: 70px;
    text-align: center;
    transition: all 300ms linear;
}

.nav_block:hover {
    background-color: rgba(0, 163, 255, 0.63);
    box-shadow: 0px 4px 31px 2px #00A3FF;
    color: black;
}

.nav_link {
    font-size: 18px;
    position: relative;
    top: calc(50% - 11px);
}

/* top navigation */

.top_nav {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.top_nav_block {
    display: inline-block;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    margin-left: 15px;
}

.top_nav_block a {
    text-decoration: none;
    color: #ffff
}

.top_nav_img {
    margin-top: 2px;
    margin-left: 5px;
    height: 6px;
    width: 10px;
}






.last {
    position: relative;
    height: 120px;
    width: 100%;
    background-image: url("./gameReviewImg/end/last.png");
    font-weight: 300;
    font-size: 20px;
}

.last_inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 20px;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts .text {
    margin-right: 40px;
}

.contacts .link .text {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.phone {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.mail {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

.public {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.public .link {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    cursor: pointer;
}

.public .text {
    color: #00A3FF;
}

.public .link img {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.reviewBlock {
    position: relative;
    width: 100%;
    height: 2000px;
    overflow: hidden;
}

.ageLimit {
    position: absolute;
    top: 170px;
    font-weight: 800;
    font-size: 96px;
}

.review_inner {
    position: relative;
    top: 420px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00A3FF;
    box-shadow: 0px -47px 100px 100px #00A3FF;
    top: 650px;
}

.game_head {
    position: absolute;
    width: 1963px;
    height: 828px;
    left: -43px;
    top: -55px;
    z-index: -1;
}

.game_title {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.game_logo {
    position: relative;
    width: 290px;
    height: 250px;
}

.description {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game_name {
    font-weight: 700;
    font-size: 96px;
    width: 100%;
}

.game_info {
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
}


.main_gameblock {
    width:auto;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    top:100px;
}

.game_text {
    position: relative;
    width: 800px;
    height: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game_text .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.game_text .text {
    line-height: 24px;  
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.game_text img{
    width: 340px;
    height: 170px;
}

.game_photos{
    width: 562px;
    height: 1267px;
    position: relative;
}

.game_photos img{
    position: absolute;
    top:-200px;
    width: 562px;
    height: 1267px;
}